@page "/transactionlist/addtransaction"
@inject HttpClient httpClient;
@inject NavigationManager NavigationManager;
@using GZFuel.Blazor.Shared.DTO.Transaction;

@using GZFuel.Model.Entities;

<h3>Add New Transaction</h3>

@if(isLoading)
{
	<p> Loading ... </p>
} else
{
	<div class="row">

       <div class="col-md-6">
		   <label class="form-label">Customer Id</label>
		   <input class="form-control" @bind="@transaction.CustomerID"/> 
		   <button class="btn btn-primary" @onclick="ChooseCustomer">Choose Customer</button>

       </div>

		<div class="col-md-6">
			<label class="form-label">Employee Id</label>
			<input class="form-control" @bind="@transaction.EmployeeID" />
			<button class="btn btn-primary" @onclick="ChooseCustomer">Choose Employee</button>


		</div>

		<div class="col-md-6">
			<label class="form-label">Date</label>
			<input class="form-control" type="date" @bind="@transaction.Date" />

		</div>
		 <hr> 

		<div class="col-md-6 border-5">

			<label class="form-label">Payment Method</label>
			    <br> 
				<input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault" @bind="@transaction.PaymentMethod">
				<label class="form-check-label" for="flexCheckDefault">
					Pay With Credit Card (Uncheck to pay with Cash)
				</label>
			
			

		</div>

		<br>

		<div class="col-md-6">
			<label class="form-label">Total value</label>
			<input class="form-control" @bind="@transaction.TotalValue" />

		</div>

	</div>

	<hr /> 
	<hr />

	<div class="col-md-6">
		<label class="form-label">Add Items </label>
		
		<button class="btn btn-primary" @onclick="AddTransactionLine">Add Items To Transaction</button>

	</div>



}


@code {

	private Boolean isLoading = true;
	Transaction transaction { get; set; }
	IEnumerable <TransactionLine> transactionLines { get; set; }





	protected override async Task OnInitializedAsync()
	{
		transaction = new Transaction();
		transactionLines = new List<TransactionLine>();
		isLoading = false;
	}



	private void ChooseCustomer()
	{

	}

	private void ChooseEmployee()
	{

	}

	private void AddTransactionLine()
	{
		
	}


}














