@page "/adminlist"
@using GZFuel.Blazor.Shared.DTO.Admin;
@using Microsoft.AspNetCore.Components.QuickGrid
@inject HttpClient httpClient; 
@inject NavigationManager NavigationManager;


@if(isLoading)
{
    <p>Loading </p>
} else
{
    <QuickGrid Items="admins.AsQueryable()">
            
          <PropertyColumn Property="a=> a.Id" Title="ID" Sortable="true" />
          <PropertyColumn Property="a=> a.Surname" Title="Surname" Sortable="true" />
          <PropertyColumn Property="a=> a.Name" Title = "Name" Sortable = "true"/>
          <PropertyColumn Property="a=>a.Username"  Title ="Username" Sortable="true"> 

              <ColumnOptions>
                  <ColumnOption>
                      <input />
                  </ColumnOption>
				  
              </ColumnOptions>

          </PropertyColumn>
          <PropertyColumn Property="a=>a.Password" Title="Password" />


    </QuickGrid>
    
    




<h3> List of admins </h3>

<button class="btn btn-primary" @onclick="CreateItem">Create New</button>

 
        


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Surname
            </th>
            <th>
                Name
            </th>

            <th>
                Username
            </th>

            <th>
				Password    
                </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var admin in admins)
        {
            <tr>
                <td>
                    @admin.Id
                </td>

                    <td>
                        @admin.Surname
                    </td>


                    <td>
                    @admin.Name
                </td>
                <td>
                    @admin.Username
                </td>
                <td>
                    @admin.Password
                </td>
              
            </tr>
        }
    </tbody>
    </table> 
    }



@code {
    private Boolean isLoading = true;
    private IEnumerable<AdminDTO> admins;









    protected override async Task OnInitializedAsync()
    {
       await LoadItemsFromServer();        
    }

    private async Task LoadItemsFromServer()
    {
        admins = await httpClient.GetFromJsonAsync<List<AdminDTO>>("Admin");
        isLoading = false;
    }

private void CreateItem()
	{
		NavigationManager.NavigateTo("/adminlist/adminedit");
	}

}
