@page "/adminlist"
@using GZFuel.Blazor.Shared.DTO.Admin;
@inject HttpClient httpClient; 
@inject NavigationManager NavigationManager;


@if(isLoading)
{
    <p>Loading </p>
} else
{
    


<h3> List of admins </h3>

<button class="btn btn-primary" @onclick="CreateItem">Create New</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Surname
            </th>
            <th>
                Name
            </th>

            <th>
                Username
            </th>

            <th>
				Password    
                </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var admin in admins)
        {
            <tr>
                <td>
                    @admin.Id
                </td>

                    <td>
                        @admin.Surname
                    </td>


                    <td>
                    @admin.Name
                </td>
                <td>
                    @admin.Username
                </td>
                <td>
                    @admin.Password
                </td>
              
            </tr>
        }
    </tbody>
    </table> 
    }



@code {
    private Boolean isLoading = true;
    private IEnumerable<AdminDTO> admins;









    protected override async Task OnInitializedAsync()
    {
       await LoadItemsFromServer();        
    }

    private async Task LoadItemsFromServer()
    {
        admins = await httpClient.GetFromJsonAsync<List<AdminDTO>>("Admin");
        isLoading = false;
    }

private void CreateItem()
	{
		NavigationManager.NavigateTo("/adminlist/adminedit");
	}

}
