@page "/adminlist/adminedit/{Id:int?}"
@using GZFuel.Blazor.Shared.DTO.Admin;
@inject HttpClient httpClient;
@inject NavigationManager NavigationManager;

<h3>Update Admin PWD</h3>

@if (admin==null)
{
	<p> loading </p>
} else
{
	


<div class="row ">
	<div class="col-md-6">
		<label class="form-label"> Name </label>

		<input class="form-control" @bind="@admin.Name"/>
	</div>
		<div class="col-md-6">
			<label class="form-label"> Surname </label>

			<input class="form-control" @bind="@admin.Surname" />
		</div>
		<div class="col-md-6">
			<label class="form-label"> Username </label>

			<input class="form-control" @bind="@admin.Username" />
		</div>
		<div class="col-md-6">
			<label class="form-label"> Password </label>

			<input class="form-control" type="password" @bind="@admin.Password" />
		</div>

		<div class="col-md-6">
			<label class="form-label"> Repeat Password </label>

			<input class="form-control" type="password" @bind="@admin.Password" />
		</div>

</div>

<div class="row"> 

	<div class="col-md-12">
		<button class="btn btn-primary" @onclick="SaveItem">Save</button>
	</div>
	<div class="col-md-12">
<button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
	</div>

</div>

}

@code {

	[Parameter] public int? Id { get; set; }
	AdminEditDTO admin { get; set; }

	protected override async Task OnInitializedAsync()
	{


		if (Id == null )
		{
			admin = new();
		} else
		{
			admin = await httpClient.GetFromJsonAsync<AdminEditDTO>($"admin/{Id}");
		}







	}

	private void OnCancel()
	{
		NavigationManager.NavigateTo("/adminlist");
	}


	private async Task  SaveItem()
	{
		if(Id==null)
		{
			var response = await httpClient.PostAsJsonAsync("Admin", admin);
			response.EnsureSuccessStatusCode();
			NavigationManager.NavigateTo("/adminlist");

		} else
		{
			var response = await httpClient.PutAsJsonAsync($"Admin/{Id}", admin);
		}

	}
}
